body {
  font-family: 'Verdana';
  text-align: center;
}



li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
  background: gray;
  padding: 5px;
  border-radius: 4px;
  margin-top: 12px;
}

li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

li:hover {
  color: black;
  background: white;
}

li a:hover {
  color: black;
  background: white;

}

img {
  max-width: 500px;
  max-height: 400px;
  width: auto;
  height: auto;
}
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
