body {
  font-family:"Verdana";
  text-align: center;
}

p1 {
  text-align:center;
}

table {
			    width:100%;
}
table, th, td {
			    border: 1px solid black;
			    border-collapse: collapse;
}
th, td {
			    padding: 5px;
			    text-align: left;
}
table#t01 tr:nth-child(even) {
			    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
			   background-color:#fff;
}
table#t01 th	{
			    background-color: black;
			    color: white;
}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}


li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
  background: gray;
  padding: 5px;
  border-radius: 4px;
  margin-top: 12px;
}

li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

li:hover {
  color: black;
  background: white;
}

li a:hover {
  color: black;
  background: white;

}
